<!DOCTYPE html>
<html>

    
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
   <title>{{ page.title }}</title>

    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/pygment_trac.css">
    
    <link rel="apple-touch-icon" type="image/png" href="imagen/edigital.png">
    <link rel="apple-touch-icon-precomposed" type="image/png" href="imagen/edigital.png">

<link rel="shortcut icon" type="image/x-icon" href="imagen/favicon.ico">

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
    
    <body>
       <header> 
 <h1 class="title"><a href="/">{{ site.name }}</a></h1>
        <p> Proyectos digitales alojados en github </p>
  
      </header>
    <div class="wrapper">
          <section>      
     
          {{ content }}


          </section>
          </div>
           <footer>
        <p>Github: <a href="https://github.com/editio">Editio</a></p> 
        
        <p>Twitter: <a href="https://twitter.com/libropesia">@libropesia</a></p> 
      </footer>
          <script src="javascripts/scale.fix.js"></script>
    </body>
</html>
